/*-----------------
 Colours
 ----------------*/
$black: #272727;
$yellow: #fed766;
$blue: #00c7e6;
$grey: #625f63;
$white: #eff1f3;

/* Testing autoprefixer */
 
.autoprefixer {
  display: flex;
}
 
/* Testing cssnext */
 
.cssnext {
  background: color(red alpha(-10%));
}
 
/* Testing precss */
 
.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}

/*---------------
 BODY
---------------*/
body {
  background: $grey;
  font-family: Hack, monospace;
  color: $white;
  text-align: left;
}

/*---------------
 HEADERS
 --------------*/
h1, h2, h3 {
  color: $blue;
}

/*---------------
 LINKS
 --------------*/
a {
  color: $yellow;
  &:hover,
  &:visited {
    color: $yellow;
  }
}

